body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.App {
  background-color: #fcf9f9;
}

.carousel-root {
  margin-top: -64px;
}
.carousel .carousel-status,
.carousel .thumbs-wrapper,
.carousel .control-dots {
  display: none;
}

.carousel .control-next.control-arrow:before {
  border-left: 30px solid black !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 30px solid black !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
}

.carousel.carousel-slider .control-arrow {
  padding: 5rem !important;
}

@media only screen and (max-width: 600px) {
  .carousel.carousel-slider .control-arrow {
    padding: 1rem !important;
  }
}
